<% layout ('../views/layout/index')%>
<div class="text-center red">
    Ошибка авторизации
</div>
<div class="text-left font12" style=" margin-bottom: 10px">
    Возможная причины:
    <p>1.Пароль не соответсвует пользователю</p>

    <p>2.Пользователя с таким именем не существует</p>

    <p>3.Время сессии истекло</p>

</div>
<div class="text-center red">
    <p><a href="/">Вернуться на главную</a></p>
</div>
