    <!-- -->
<% layout ('../views/layout/index')%>
            <div class="main-logo" style="margin-top: 10px">

            </div>
<div class="text-center">
    <input id="login" name="user" type="text" size="15" maxlength="15" value="demo">
</div>
<div class="text-center">
    <input id="password" name="password" type="password" size="15" maxlength="15" value="demo">
</div>
<button id="submit" style="margin-bottom: 5px">Войти</button>
    <div class="text-center" style="margin-bottom: 10px">
        <p><a href="/newuser">регистрация</a></p>
    </div>