<% layout ('../views/layout/index')%>
<div class="text-center red" xmlns="http://www.w3.org/1999/html">
    Error
</div>
<div class="text-left font12" style=" margin-bottom: 10px">
    Возможная причины:
    <p>1.Не совпадает пароль</p>

    <p>2.Не заполнены поля</p>

</div>

<div class="text-center red">
    <p><a href="/">Вернуться на главную</a></p>
</div>