<% layout ('../views/layout/index')%>
<div class="text-center red">
    Error
</div>
<div class="text-center" style="margin: 10px">
   Пользователь с таким именем уже зарегистрирован
</div>

<div class="text-center red">
    <p><a href="/">Вернуться на главную</a></p>
</div>