<% layout ('../views/layout/index')%>
<div class="text-center" style="margin-top: 10px">
    Имя пользователя
    </div>
<div class="text-center" >
    <input id="login" name="user" type="text" size="15" maxlength="15" style="margin-top: 4px">
</div>
<div class="text-center">
    Пароль
</div>
<div class="text-center">
    <input id="password" name="password" type="password" size="15" maxlength="15"  style="margin-top: 4px">
</div>

<div class="text-center">
    подтвердите пароль
</div>
<div class="text-center">
    <input id="confirm_password" name="password" type="password" size="15" maxlength="15"  style="margin-top: 4px">
</div>
<button id="registration" style="margin:  5px 0 0 0">регистрация</button>
<div class="text-center red">
    <p><a href="/">Вернуться на главную</a></p>
</div>