<div class="report spoiler-report" style="">
    <div class="area-date">
        <div class="title" name='device' style=" padding: 3px">...</div>
        <div class="text-center font12" style="margin-top: 5px">Старт</div>
        <div>
            <input name="from" type="text">
        </div>
        <div  class="text-center font12" >Финиш</div>
        <div>
            <input name="to" type="text">
        </div>
        <div name ='show' class="button" style="margin-top: 8px; padding: 3px"> Show</div>
    </div>
</div>