<div class="item setting">
    <table class="title-item">
        <tr>
            <td>
                <span style="margin-left: 25px">Setting </span>
            </td>
            <td class="close">

            </td>
        </tr>
    </table>

	<div class="content-params">
		<div class="text-center font12 bold">Настроки карты при первом запуске</div>
		<table>
			<tr>
				<td>Gmt</td>
				<td><input class="gmt-input" name="gmt" type="text" value="${gmt}"> </td>
				<td></td>
				<td></td>
				<td><div class="button gmt-button" name="gmt" style="" >> </div></td>
			</tr>

			<tr>
				<td>Zoom</td>
				<td><input class="gmt-input" name="zoom" type="text" value="${zoom}"> </td>
				<td></td>
				<td></td>
				<td><div class="button gmt-button" name="zoom" style="" >> </div></td>
			</tr>

			<tr>
				<td>Центр</td>
				<td><input class="opt-input" name="lat" type="text" value="${lat}"> </td>
				<td><input class="opt-input" name="lng" type="text" value="${lng}"> </td>
				<td><div class="button ltlg" style=" margin-left: 5px" name="getCenter">+ </div></td>
				<td><div class="button gmt-button" name="startLatLng" style="" >> </div></td>
			</tr>


		</table>

	</div>







    <div class="content">
    </div>

</div>


